@import url('https://fonts.googleapis.com/css?family=Roboto');

body
{
	margin: 0;
	background: #eee;
	background-attachment: fixed;
	text-align: center;
	font-family: "Roboto";
}

.smain h1
{
	line-height: 72px;
	text-align: center;
	text-transform: uppercase;
    background-image: linear-gradient(to right, #dddddd, #d7d7d7, #dddddd);
    border-bottom: 3px solid #ccc;
    box-shadow: #bbb 0 1px 10px;
}

.smain h2
{
	line-height: 64px;
	text-align: center;
	text-transform: uppercase;
    background-image: linear-gradient(to right, #dddddd, #d7d7d7, #dddddd);
    border-bottom: 2px solid #ccc;
    box-shadow: #bbb 0 1px 10px;
}



.smain hr
{
	border: 0;
	border-bottom: 2px dashed #ccc;
}

.smain a
{
	display: inline-block;
	border-radius: 12px;
    background-image: radial-gradient(100% 100% at 100% 0, #9362ee 0, #7f73ee 100%);
	color: #f2f2f2;
	font-size: 20px;
	padding: 12px;
	max-width: 256px;
	cursor: pointer;
	margin: 5px;
	text-decoration: none;
    transition: all .5s;
}

.smain a:hover
{
    box-shadow: #aaa 0 1px 15px;
    transform: translateY(-2px);
    transition-duration: .1s;
}

.smain a:active {
    transform: translateY(2px);
}

.smain input[type=text], .smain input[type=password], .smain textarea
{
	border: none;
	border-radius: 12px;
	background-image: radial-gradient(100% 100% at 100% 0, #dddddd 0, #c7c7c7 100%);
	color: #222;
	font-size: 20px;
	padding: 12px;
	margin: 5px;
	text-decoration: none;
}

.smain input[type=submit]
{
	display: inline-block;
	border-radius: 12px;
	background-image: radial-gradient(100% 100% at 100% 0, #9362ee 0, #7f73ee 100%);
	color: #f2f2f2;
	font-size: 20px;
	padding: 12px;
	max-width: 256px;
	cursor: pointer;
	margin: 5px;
	text-decoration: none;
	border: none;
    transition: all .5s;
}

.smain input[type=submit]:hover
{
    box-shadow: #aaa 0 1px 15px;
    transform: translateY(-2px);
    transition-duration: .1s;
}

.smain input[type=submit]:active {
    transform: translateY(2px);
}


.smain table
{
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 0;
}

.smain th
{
	background-color: #fff;
}

.smain tr:nth-child(odd)
{
	background-color: #fafafa;
}

.nobox a
{
	text-decoration: none;
	
	border-radius: 0;
	background-color: transparent;
    background-image: none;
	color: #aaa;
	font-size: 100%;
	padding: 0;
	margin: 0;
	max-width: none;
	border-bottom: 1px dashed #222;
	width: auto;
}

.nobox a:link
{
	color: #0058ff;
	background-color: transparent;
}

.nobox a:visited
{
	color: #0058ff;
	background-color: transparent;
}

.nobox a:hover
{
	color: #222;
	background-color: transparent;
}

.videoWrapperOuter {
	max-width:640px; 
	margin-left:auto;
	margin-right:auto;
}

.videoWrapperInner {
	float: none;
	clear: both;
	width: 100%;
	position: relative;
	padding-bottom: 50%;
	padding-top: 25px;
	height: 0;
}

.videoWrapperInner iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*nav bar*/

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #444;
  color: white;
}

.topnav a.active {
  background-color: #222;
  color: white;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

/*footer*/

.footer a
{
	text-decoration: none;
}

.footer a:link
{
	color: #444;
}

.footer a:visited
{
	color: #444;
}

.footer a:hover
{
	color: #222;
}
